:root {
    --primary:#ffeb3b;
    --primary-light:#ffff72;
    --primary-dark:#c8b900;
    --bg-dark:#201f1f;
    --blur:blur(3px);
}
html,body {
    font-family: "Roboto",sans-serif;
    background: var(--bg-dark);
    color: white;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
a {
    color: var(--primary-light);
}
::-webkit-input-placeholder {
  color: pink;
}
::-moz-placeholder {
  color: pink;
}
:-ms-input-placeholder {
  color: pink;
}
:-moz-placeholder {
  color: pink;
}
strong {
    color: white;
}
.has-no-events {
    pointer-events: none;
}
.has-text-primary {
    color: var(--primary)!important;
}
body, button, input, select, textarea {
    font-family: "Roboto",sans-serif;
}
hr {
    background: rgba(255,255,255,.05);
    height: 1px;
}
.input, .textarea {
    box-shadow: none;
}
.input, .select select {
    border-radius: 4px;
    padding-left: calc(0.8em - 1px);
    background: var(--bg-dark);
    color: white;
    border-color: var(--primary);
    transition: all .15s ease-in-out;
}
.input.is-trans, .select.is-trans select {
    background: transparent;
    border-color: transparent;
}
.input:not(:placeholder-shown) ~ span, .input:focus ~ span {
    display: none;
}
.input:placeholder-shown ~ span {
    position: absolute;
    top: 7px;
    left: 10px;
    pointer-events: none;
}
.input:placeholder-shown ~ span svg {
    margin-right: 10px;
    vertical-align: middle;
}
.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
    box-shadow: inset 0 0 0 1px var(--primary);
    border-color: var(--primary);
}
.container.is-small {
    max-width: 1140px;
}
.container.is-read {
    max-width: 800px;
}
.container p a:hover {
    color: var(--primary);
    outline-width: 0px;
    box-shadow: var(--primary) 0px 1px 0px 0px;
}
.m3mk {
    position: relative;
    color: var(--primary-light);
}
.m3mk::before {
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 4px;
    background: var(--primary-light);
    content: "";
}
.button {
    font-weight: 500;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 6px;
    height: 3rem;
}
.button svg {
    vertical-align: middle;
    margin-right: 5px;
}
.button.is-primary {
    background: var(--primary);
    color: black;
}
.button.is-primary:hover {
    color: black;
    background: var(--primary-light);
}
.button.is-outline {
    background: transparent;
    border-color: white;
    color: white;
    overflow: hidden;
}
.button.is-outline:hover span {
    color: #1a237e;
    z-index: 10;
}
.button.is-outline::before {
    content: "";
    background: white;
    position: absolute;
    left: -50px;
    top: 0;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
}
.button.is-outline:hover::before {
    transform: scale(10);
}
.button.is-line {
    border: 1px solid #dbdbdb;
    box-shadow: none;
}
.button.is-flat {
    background: transparent;
    border: none;
    color: #bfbfbf;
    padding: 5px 15px;
    box-shadow: none;
}
.button.is-flat:hover {
    color: var(--primary-light);
}
.title {
    color: inherit;
    font-weight: 500;
    font-family: "Google Sans",sans-serif;
}
.title.is-head {
    max-width: 300px;
    margin: 3rem 0;
}
.subtitle {
    color: inherit;
}
.subtitle.is-small {
    font-size: 16px;
    line-height: 1.875;
}
.hero.is-primary {
    background: var(--primary-dark)!important;
}
.card {
    background: #252525;
    color: white;
    box-shadow: none!important;
}
.tags .tag {
    background: var(--primary);
}
.tags .tag:hover {
    color: black!important;
    background: var(--primary-light);
    box-shadow: none!important;
    text-decoration: none;
}
.list {
    background: transparent;
}
.list.has-border {
    border: 1px solid rgba(255,255,255,.05);
}
.list-item:not(:last-child) {
    border-bottom-color: rgba(255,255,255,.05);
}
.list-item:not(a) {
    color: white;
}
.page-content {
    font-size: 1.1rem;
}
.page-content p {
    margin-bottom: 1.5rem;
}
.page-content .group {
    margin-top: 2rem;
}
.page-content .group .title {
    margin-bottom: .5rem;
}
.page-content .list .list-item {
    padding: .2rem 0;
    border: none;
    position: relative;
    padding-left: 1.5rem;
}
.page-content .list .list-item::before {
    content:"• ";
    position: absolute;
    font-size: 26px;
    left: 0;
    top: 0;
}
.pagination-previous, .pagination-next, .pagination-link {
    color: white;
    border-color: transparent;
}
.pagination-previous, .pagination-next {
    padding: 0;
    border-radius: 100%;
}
.pagination-previous::after, .pagination-next::after, .pagination-link::after {
    content: "";
    position: absolute;
    top: -1;
    left: -1;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border:2px dashed transparent;
    border-radius: 100px;
    transition: all .2s ease-in;
}
.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
    border-color: transparent;
    color: var(--primary);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.pagination-previous:hover::after, .pagination-next:hover::after, .pagination-link:hover::after {
    animation: rotate 3s infinite;
    border-color:var(--primary);
}
.navbar.header {
    background: transparent;
    min-height: 64px;
    font-family: "Google Sans",sans-serif;
}
.navbar.header .navbar-brand .navbar-item {
    font-weight: 700;
    color: white;
}
.navbar.header .navbar-brand img {
    border-radius: 100px;
    margin-right: 10px;
}
.navbar.header.is-sticky {
    background: #171717;
    box-shadow: none!important;
}
.navbar.header ~ .hero {
    padding-top: 3.8rem;
}
.navbar.header ~ .section {
    padding-top: 7rem;
}
.navbar.header .navbar-link:not(.is-arrowless)::after {
    display: none;
}
.navbar-divider {
    height: 1px;
    background: rgba(0,0,0,.12);
}
.front-banner .image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.front-banner .buttons {
    margin: 0 auto;
    text-align: center;
}
.front-banner .image-container {
    position: relative;
    background: url('telo.svg') no-repeat local 30% 37%, linear-gradient(to top, #202020, #333333);
    z-index: 1;
}
.front-banner .image-container img {
    z-index: 3;
    transform: translateZ(50px);
}
.front-banner .image-container .hiasan-1 {
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: rotate(-45deg) translateX(30px) translateZ(50px);
}
.front-banner .image-container .hiasan-2 {
    position: absolute;
    filter: var(--blur);
    top: -5%;
    left: 30%;
    transform:translateZ(60px);
}
.front-banner .image-container .hiasan-3 {
    position: absolute;
    bottom: -50px;
    left: -50px;
    filter:var(--blur);
    transform:translateZ(70px);
    z-index:14;
}
.front-banner .image-container:hover .hiasan-3 {
    filter:none;
}
.front-banner .desc-container {
    padding: 40px 0px 0px 40px;
}
.front-banner .desc-container .action .button.is-primary {
    margin-right:10px;
}
.list {
    border-radius: 0;
    box-shadow: none;
}
.list .date {
    font-size: .9rem;
    opacity: .7;
}
.list.has-svg .list-item .icon {
    background: rgba(0,0,0,.2);
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 70px;
    position: absolute;
    left: .7em;
    top: calc(50% - 20px);
    color: #fff;
}
.list.has-svg .list-item:hover .icon {
    background: var(--primary);
}
.list.has-svg .list-item {
    position: relative;
    padding-left: calc(45px + 1em);
}
.list.has-svg .list-item:hover {
    color: var(--primary);
}
.kaki {
    background: #171717;
}
.kaki a {
    font-weight: 500;
}
.work .card {
    overflow: hidden;
    z-index: 3;
}
.work .card .card-content {
    transform: translateY(100%);
    color: #fff;
    background: rgba(0,0,0,.8);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 1.25rem;
    transition: transform .2s ease-in-out;
}
.work .card:hover .card-content {
    transform: translateY(0);
}
.work .card .card-content .title span {
    font-size: initial;
    float: right;
    margin-top: 5px;
}
.section .title {
    z-index: 2;
}
.section .title .lips {
    position: absolute;
    z-index: 1;
    left: -100px;
    top: -40px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
    font-size: 7rem;
    opacity: .1;
}
@media screen and (min-width: 1024px) {
    .work .card .card-content {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .navbar.header {
        padding: 0 24px;
    }
    .navbar.header .navbar-item {
        font-weight:500;
    }
    .navbar.header .navbar-item:hover, .navbar.header .navbar-item.has-dropdown:hover .navbar-link, .navbar.header .navbar-item.has-dropdown:focus .navbar-link, .navbar.header .navbar-item.has-dropdown:focus-within .navbar-link {
        color: var(--primary-light);
        background: transparent;
    }
    .navbar.header .navbar-item.is-active {
        position: relative;
        color: var(--primary);
    }
    .navbar.header .navbar-item.is-active::after {
        content: "";
        height: 2px;
        background: var(--primary);
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .2s ease-in-out;
    }
    .navbar.header.is-sticky .navbar-item.is-active::after {
        width: 100%;
    }
    .navbar.header .navbar-item.has-dropdown .navbar-link {
        margin: 0;
        padding: 0.5rem 0.75rem;
    }
    .navbar.header .navbar-item,.navbar.header .navbar-item.has-dropdown .navbar-link {
        color: white;
        margin: 0 10px;
    }
    .navbar-dropdown {
        -webkit-transition: opacity .03s linear,-webkit-transform .12s cubic-bezier(0,0,.2,1);
        transition: opacity .03s linear,-webkit-transform .12s cubic-bezier(0,0,.2,1);
        -o-transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1);
        transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1);
        transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1),-webkit-transform .12s cubic-bezier(0,0,.2,1);
        -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        border-radius: 4px;
        border-top: none;
    }
    .navbar-dropdown .navbar-item {
        margin: 0!important;
        padding: 10px 15px;
        color: #000!important;
    }
    .navbar-dropdown .navbar-item:hover {
        background: rgba(0,0,0,.04)!important;
    }
    .kaki .action .button:first-child {
        padding-left: 0;
    }
    .navbar-menu:hover .navbar-item {
        filter:blur(3px);
    }
    .navbar-menu:hover .navbar-item.is-active,.navbar-menu:hover .navbar-item:hover,.navbar-menu:hover .navbar-item.is-active:hover {
        filter:none;
    }
}
@media screen and (max-width: 1023px) {
    .title.is-1 {
        font-size: 1.85rem;
    }
    .title.is-2 {
        font-size: 1.5rem;
    }
    .title.is-3 {
        font-size: 1.25rem;
    }
    .navbar.header.is-sticky {
        background: var(--bg-dark);
    }
    .navbar-brand, .navbar-tabs {
        min-height: 64px;
    }
    .navbar-brand .navbar-item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .navbar-menu {
        background: var(--bg-dark);
        display: inline;
        position: absolute;
        transform: translateX(-100vw);
        transition: all .2s ease-in-out;
        width: 100vw;
        height: calc(100vh - 64px);
        font-size: 22px;
    }
    .navbar-menu .navbar-item:not(.is-active), .navbar-link {
        color: #fff;
    }
    .navbar.header .navbar-item.has-dropdown .navbar-link {
        padding: 0;
    }
    .navbar-menu .navbar-item:not(.is-active) {
        opacity: .5;
    }
    .navbar-menu .navbar-item.is-active, .navbar-menu .navbar-item:not(.is-active):hover {
        color: #fff;
        background: transparent;
        opacity: 1;
    }
    .navbar-menu .navbar-item {
        padding: .75rem 1.5rem;
    }
    .navbar-dropdown .navbar-item {
        padding: .5rem 0;
    }
    .navbar-menu.is-active {
        transform: translateX(0);
    }
    .navbar-burger {
        height: 64px;
        width: 64px;
    }
    .navbar-burger span {
        background: white;
        height: 2px;
        width: 25px;
        left: calc(50% - 15px);
    }
    .navbar-burger:not(.is-active) span:nth-child(1) {
        top: calc(50% - 9px);
    }
    .navbar-burger:not(.is-active) span:nth-child(2) {
        width: 22px;
        left: calc(50% - 12px);
    }
    .navbar-burger:not(.is-active) span:nth-child(3) {
        top: calc(50% + 7px);
    }
    .front-banner .image-container {
        padding: 0 20vw;
    }
    .front-banner .desc-container {
        padding: 20px 10px;
    }
    .front-banner .image-container .hiasan-1 {
        display: none;
    }
}
.notes:not(.read) .column a {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.notes:not(.read) .card .media-content {
    transform:translateX(-50px);
    transition:transform .15s ease-in-out;
}
.notes:not(.read) .card:hover .media-content {
    transform:translateX(0);
}
.notes:not(.read) .card .media-left {
    filter:var(--blur);
}
.notes:not(.read) .card:hover .media-left {
    filter:none;
}
.notes.read .card {
    margin-bottom: 20px;
}
.notes.read .card .title {
    margin-bottom: 10px;
}
.notes.read .card .tags {
    margin-top: 10px;
}
.app .columns:hover .image img {
    filter: var(--blur) grayscale();
    transition: all .2s ease-in-out;
}
.app .columns:hover .image:hover img {
    filter: none;
}